.promoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #163828;
  color: #ceb6a8;
  padding: 18px 0;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 0.75rem;

  a {
    color: #ceb6a8;
    text-decoration: underline;

    &:hover {
      color: #eecf84;
    }
  }
}
//////////////////////////////
// Nav bar
//////////////////////////////
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 108px;

  li {
    display: flex;
    gap: 40px;
    font-size: 0.9rem;

    a {
      display: flex;
    }
  }
}

.downIcon {
  font-size: 1.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 25%;
}

.ctaButton {
  padding: 16px 28px;
  border-radius: 30px;
  background-color: #163828;
  color: #fff;
  font-size: 0.9rem;

  &:hover {
    background-color: transparent;
    border: 1px solid #163828;
    color: #163828;
  }
}

.rightSection {
  width: 25%;
  text-align: end;
}

//////////////////////////////
//  Hero section: h1 title and p subtitle
//////////////////////////////
.heroSection {
  margin: 0 108px;
  padding: 40px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  // height: 50vh;
  border-bottom: 0.5px solid var(--grey);

  h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 6.5rem;
    margin-bottom: 24px;
    font-weight: 500;
  }

  span {
    font-style: italic;
  }

  p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }
}

//////////////////////////////
// Solution section
//////////////////////////////
.solutionSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 108px;
}

.solutionTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-weight: 300;
  }

  p {
    font-size: 0.85rem;
  }

  a {
    background-color: var(--coral);
    color: #fff;
    padding: 8px 8px;
    border-radius: 30px;
    font-family: var(--title-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    font-size: 1.25rem;
    padding-left: 20px;

    &:hover {
      background-color: var(--main-text-color);
    }
  }

  span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.arrowRight {
  color: var(--coral);

  &:hover {
    color: var(--main-text-color);
  }
}

.solutionOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    background-color: #ffffff52;
    height: 200px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    position: relative;

    &:hover,
    &:active {
      background-color: #fff;
      cursor: pointer;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  input {
    position: absolute;
    top: 10%;
    right: 8%;
    height: 15px;
    width: 15px;
    color: transparent;
    outline: none;
  }

  img {
    height: 120px;
  }
}

// companies section
.companiesSection {
  margin-top: 100px;
  height: 225px;
  border-radius: 12px;
  background-color: var(--grey);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    width: 400px;
    margin-bottom: 32px;
    font-weight: 400;
  }

  div {
    display: flex;
    gap: 20px;

    img {
      height: 30px;
    }
  }
}

.border {
  position: relative;
}

.borderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// ////////////////////
// Highlight section
// ///////////////////
.highlightSection {
  background-color: var(--snow);
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  align-items: center;
  justify-content: space-between;
  padding: 168px 108px 64px;
  gap: 98px;

  img {
    height: 360px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }

  h2 {
    font-family: var(--title-font);
    font-size: 3.5rem;
    padding-right: 98px;
    font-weight: 450;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.75;
    padding-right: 40px;
  }
}

// ////////////////
// Services Section
// ///////////////
.servicesSection {
  height: 100vh;
  background-color: var(--snow);
  padding: 64px 156px;
}

.servicesTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;

  h2 {
    font-family: var(--title-font);
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  p {
    margin-top: 16px;
    font-size: 1.15rem;
    padding-right: 350px;
    color: var(--secondary-text-color);
    line-height: 1.75;
  }

  img {
    height: 136px;
  }
}

.servicesProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    display: flex;
    align-items: start;
    gap: 32px;
    padding: 32px 0px 56px;
    border-top: 1px solid var(--grey);

    div {
      display: flex;
      flex-direction: column;
      padding-right: 32px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
        line-height: 1.4;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
        color: var(--secondary-text-color);
      }

      span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        font-weight: 700;
        transition: color 0.2s;
      }
    }

    &:nth-child(1) {
      p {
        margin-bottom: 28px;
      }
    }

    &:nth-child(3) {
      p {
        font-size: 0.95rem;
      }
    }
  }
}
