.promoBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--btn-color);
  color: #ceb6a8;
  padding: 18px 0;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 0.75rem;

  a {
    color: #ceb6a8;
    text-decoration: underline;

    &:hover {
      color: #eecf84;
    }
  }
}

//////////////////////////////
// Nav bar
//////////////////////////////
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 108px;
  background-color: var(--main-bg-color);

  li {
    display: flex;
    gap: 40px;
    font-size: 0.9rem;

    a {
      display: flex;
    }
  }
}

.downIcon {
  font-size: 1.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 25%;
}

.rightSection {
  width: 25%;
  text-align: end;
}

//////////////////////////////////////////
//  Hero section: h1 title and p subtitle
/////////////////////////////////////////
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--main-bg-color);
  padding: 0px 108px;

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid var(--grey);
    padding: 40px 0 100px;
  }

  h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 6.5rem;
    margin-bottom: 24px;
    font-weight: 500;
  }

  span {
    font-style: italic;
  }

  p {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }
}

//////////////////////////////////////////
// Solution section
//////////////////////////////////////////
.solutionSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 108px;
  background-color: var(--main-bg-color);
}

.solutionTitleBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 1.45rem;
    font-weight: 300;
  }

  p {
    font-size: 0.85rem;
  }
}

.arrowRight {
  color: var(--coral);

  &:hover {
    color: var(--main-text-color);
  }
}

.solutionOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    background-color: #ffffff52;
    height: 200px;
    width: 230px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    position: relative;

    &:hover,
    &:active {
      background-color: #fff;
      cursor: pointer;
      box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  input[type='checkbox'] {
    position: absolute;
    top: 10%;
    right: 8%;
    height: 15px;
    width: 15px;
    accent-color: #ffffff52;
  }

  img {
    height: 120px;
  }
}

//////////////////////////////////////////
// Companies section
//////////////////////////////////////////
.companiesSection {
  margin-top: 100px;
  height: 225px;
  border-radius: 12px;
  background-color: var(--grey);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 1.4rem;
    width: 400px;
    margin-bottom: 32px;
    font-weight: 300;
  }

  div {
    display: flex;
    gap: 20px;

    img {
      height: 30px;
    }
  }
}

.border {
  position: relative;
}

.borderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// //////////////////////////////////////////
// Highlight section
// //////////////////////////////////////////
.highlightSection {
  background-color: var(--snow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 168px 108px 64px;
  gap: 98px;

  img {
    height: 360px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 32px;
  }

  p {
    font-size: 1.15rem;
    line-height: 1.75;
    padding-right: 40px;
  }
}

// //////////////////////////////////////////
// Services Section
// //////////////////////////////////////////
.servicesSection {
  height: 100vh;
  background-color: var(--snow);
  padding: 64px 156px;
}

.servicesTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;

  p {
    margin-top: 16px;
    font-size: 1.15rem;
    padding-right: 350px;
    color: var(--secondary-text-color);
    line-height: 1.75;
  }

  img {
    height: 136px;
  }
}

.servicesProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    padding: 32px 0px 56px;
    border-top: 1px solid var(--grey);

    div {
      display: flex;
      flex-direction: column;
      padding-right: 32px;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
        line-height: 1.4;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
        color: var(--secondary-text-color);
      }

      span {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        font-weight: 700;
        transition: color 0.2s;
      }
    }

    &:nth-child(1) {
      p {
        margin-bottom: 28px;
      }
    }

    &:nth-child(3) {
      p {
        font-size: 0.95rem;
      }
    }
  }
}

// //////////////////////////////////////////
// testimonials section
// //////////////////////////////////////////
.testimonialsSection {
  padding: 98px 156px 0px;
  background-color: var(--snow);
  position: relative;
  padding-bottom: 200px;
}

.testimonialsTextBox {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 410px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 48px 192px 0px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;

    span {
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  p {
    text-align: center;
    font-style: italic;
    font-family: var(--title-font);
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.75;
    margin-bottom: 32px;
  }

  h6 {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  span {
    font-size: 0.95rem;
  }
}

.line {
  height: 1px;
  background-color: var(--grey);
  width: 100%;
  margin-top: 40px;
}

.circles {
  position: absolute;
  top: 62.5%;
  left: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  div {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--grey);
  }
  .firstCircle {
    background-color: #163828;
  }
}

.testimonialsButtons {
  position: absolute;
  top: 60%;
  left: 79%;
  background-color: #163828;
  width: 96px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1.2rem;

    &:hover {
      color: var(--main-bg-color);
    }
  }

  .buttonLeft {
    justify-content: end;
  }
  .buttonRight {
    justify-content: flex-start;
  }
}

// //////////////////////////////////////////
// Border
// //////////////////////////////////////////
.borderGrey {
  position: relative;
}

.borderGreyImage {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

// //////////////////////////////////////////
// Spanning section
// //////////////////////////////////////////
.spanningSection {
  background-color: var(--grey);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.spanningBgImg {
  position: absolute;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spanningInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 64px 80px;

  h2 {
    text-align: center;
  }

  p {
    font-size: 1.1rem;
    text-align: flex-start;
    line-height: 1.75;
  }

  span {
    align-items: flex-start;
    font-weight: 600;
    font-size: 1.1rem;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

.spanningImages {
  position: relative;
  height: 100%;

  img {
    height: 64px;
    border-radius: 50%;
    position: absolute;
  }
}

.spanningImage1 img {
  top: 15%;
  left: 95%;
}

.spanningImage2 img {
  top: 25%;
  left: 50%;
}
.spanningImage3 img {
  top: 50%;
  left: 80%;
}
.spanningImage4 img {
  top: 70%;
  left: 55%;
}

.spanningImage6 img {
  top: 23%;
  left: 10%;
}

.spanningImage7 img {
  top: 55%;
  left: -5%;
}

.spanningImage8 img {
  top: 60%;
  left: 25%;
}

.spanningImage9 img {
  top: 81%;
  left: -30%;
}

// //////////////////////////////////////////
// Superpower Section
// //////////////////////////////////////////

.superpowerSection {
  padding: 136px 108px;
  background-color: var(--grey);
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.superpowerTitle {
  display: flex;
  flex-direction: column;
  width: 50%;

  h2 {
    margin-bottom: 16px;
    line-height: 1.2;
  }

  p {
    padding-right: 160px;
    line-height: 2;
    font-size: 1.15rem;
  }
}

.superpowerSteps {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
  padding: 0px 24px;

  a {
    text-align: center;
  }
}

.superpowerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  a {
    width: 50%;
    padding: 8px 0px;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 32px;
  }
}

.superpowerLink1 {
  background-color: var(--snow);
}

.superpowerLink2 {
  background-color: rgba(255, 252, 250, 0.2);
}

.numberBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-size: 1.1rem;
    width: 100%;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #fff;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      position: relative;

      h6 {
        font-size: 1rem;
        width: 80px;
        height: 25px;
      }
    }

    .lineAfterCircle::after {
      content: '';
      height: 38px;
      width: 2px;
      background-color: #fff;
      position: absolute;
      bottom: -69%;
    }
  }
}

// //////////////////////////////////////////
// Story Section
// //////////////////////////////////////////
.storySection {
  padding: 108px;
  background-color: var(--snow);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 64px;
}

.storyTextBox {
  width: 50%;
  padding: 0px 44px 0px 16px;

  h2 {
    margin-bottom: 20px;
    line-height: 1.2;
  }

  span {
    font-style: italic;
  }

  h6 {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 40px;
  }
}

.storyImageBox {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-left: 32px;

  img {
    height: 175px;
  }
}

.profileTile {
  height: 175px;
  width: 175px;
  overflow: hidden;
  background-color: #bfc1b9;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustrationTile {
  height: 175px;
  width: 175px;
  overflow: hidden;
  background-color: #f7e1d2;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.relativeStyle1 {
  position: relative;
  .profileImage {
    position: absolute;
    top: -15%;
    left: -15%;
  }
}

.relativeStyle2 {
  position: relative;
}

.profileImage {
  position: absolute;
  top: 15%;
  left: -15%;
}

// //////////////////////////////////////////
// Career Section
// //////////////////////////////////////////

.yourCareerSection {
  background-color: var(--snow);
  display: flex;
  padding: 64px 108px 250px;
  gap: 64px;
}

.careerImageBox {
  width: 50%;
  position: relative;
}

.careerImage {
  width: 558px;
  border-radius: 12px;
}

.careerIllustration {
  position: absolute;
  top: 60%;
  left: 8%;
  box-shadow: -11px 11px 30px rgba(0, 0, 0, 0.04),
    -4px 4px 12px rgba(0, 0, 0, 0.08), -2px 2px 6px rgba(0, 0, 0, 0.14),
    -1px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 173px;
  height: 173px;
  background-color: var(--main-bg-color);

  img {
    height: 170px;
    width: 170px;
  }
}

.careerInfoBox {
  width: 50%;
  padding-left: 64px;

  h6 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 20px 0px;
  }
  p {
    font-size: 1.1rem;
    margin-bottom: 64px;
    line-height: 1.75;
  }
}

.borderImage3 {
  position: relative;
  img {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
  }
}

.ctaSection {
  margin: 0;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 108px 120px;
}

.ctaTextBox {
  width: 50%;
  p {
    font-size: 1.4rem;
    font-weight: 300;
    padding-right: 64px;
    line-height: 1.75;
    margin-bottom: 40px;
  }

  a {
    width: 200px;
    gap: 28px;
  }
}

.ctaImageBox {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 550px;
  }
}

// //////////////////////////////////////////
// Footer
// //////////////////////////////////////////

.footer {
  display: flex;
  flex-direction: column;
  padding: 96px 108px 32px;
}

.footerLogo {
  display: flex;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #999;

  img {
    width: 200px;
  }
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 80px;
  margin-bottom: 88px;

  ul {
    padding-top: 16px;
  }

  li {
    margin-bottom: 6px;
  }

  a {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
  }
}

.footerBtn a {
  color: #fff;
  font-size: 1.25rem;
  width: 300px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--secondary-text-color);

  ul {
    display: flex;
    gap: 16px;

    a {
      color: var(--secondary-text-color);
    }
  }
}
