@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@300;400;500;600;700;800&family=Tenor+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #f7e1d3;
  --main-text-color: #2b2c30;
  --secondary-text-color: #58595c;
  --cyan: #00bcd4;
  --grey: #bfc1b9;
  --coral: #ee4b4a;
  --snow: #fffcfa;
  --btn-color: #163828;

  --title-font: 'Playfair Display', sans-serif;
  --body-font: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--main-text-color);
}

/* ============REUSABLE CSS============ */

a {
  text-decoration: none;
  color: var(--main-text-color);
}

li {
  list-style: none;
}

footer {
  background-color: var(--grey);
}

h2 {
  font-family: var(--title-font);
  font-size: 3.5rem;
  font-weight: 500;
}

/* Orange CTA buttons */
.orange-button {
  background-color: var(--coral);
  color: #fff;
  padding: 8px 8px 8px 20px;
  border-radius: 30px;
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-size: 1.25rem;
}

.orange-button:hover {
  background-color: var(--main-text-color);
}

.circle-in-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Green CTA buttons */
.green-button {
  padding: 16px 28px;
  border-radius: 30px;
  background-color: #163828;
  color: #fff;
  font-size: 0.9rem;
}

.green-button:hover {
  background-color: transparent;
  border: 1px solid #163828;
  color: #163828;
}
